.birthday {
  position: relative;
  z-index: 1; /* It will allow .birthday to be on top of the separator .triangles. */ 
  bottom: 32px;

  max-width: 992px; /* x < lg */
  padding-bottom: .8em;

  background-image: url(../img/birthday-ribbon.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.birthday__neighbour {
  max-width: 256px;
}

@media (max-width: 576px) { /* sm */
  .birthday__neighbour {
    max-width: 128px;
  }
}

.birthday__neighbour img {
  position: relative;
  bottom: 16px;

  height: 100%;
  width: 100%;
}

.birthday__text {
  margin-bottom: 0; /* Bootstrap default styles add margin bottom to p. */

  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 2px 2px rgb(0 0 0 / 30%);
}
