.triangles {
  position: relative;
  /* z-index = 0 by default. */

  height: 128px;
  width: 164%;
  margin-left: -32%;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: url(../img/triangles-yellow-2x.webp);
  background-size: 128px;
  box-shadow: 0 16px 8px rgb(0 0 0 / 40%);
}

.tree {
  position: relative;
  z-index: -1;
  bottom: 32px;

  height: 128px;

  background-image: url(../img/apple-border-top_2x.webp);
  background-color: var(--clr-blue);
  background-size: 1024px 128px;
  background-repeat: repeat-x;
}
